<html>
  <head>
    <title> Taylor's JavaScript RandomComic Site </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
       <h2> Click for a random XKCD comic </h2>
       
        <button getComic="/removetask" type="submit"> Comic </button>
      
    </div>
  </body>
</html>